
body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#0f172a;
color:white;
font-family:Arial;
}

.box{
text-align:center;
padding:30px;
border-radius:12px;
background:rgba(255,255,255,0.05);
border:1px solid rgba(255,255,255,0.1);
}

a{
display:inline-block;
margin-top:15px;
padding:10px 15px;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

a:hover{
background:#0ea5e9;
}
