

.page-title{
    font-size:24px;
    color:#38bdf8;
    margin-bottom:20px;
    font-weight:bold;
}

.card{
    background: rgba(255,255,255,0.04);
    padding:18px;
    border-radius:12px;
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#0b1220;
    color:#38bdf8;
    padding:10px;
}

td{
    padding:10px;
    color:white;
    border-bottom:1px solid rgba(255,255,255,0.05);
}

input, select{
    padding:6px;
    border-radius:6px;
    width:100%;
    border:none;
    background:#0b1220;
    color:white;
}

/* GREEN BUTTON */
.btn{
    background:#22c55e;
    border:none;
    padding:6px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
}

.btn:hover{
    background:#16a34a;
}

.high{color:#22c55e;}
.medium{color:#f59e0b;}
.low{color:#ef4444;}

.section-title{
    color:#38bdf8;
    margin:15px 0;
    font-size:18px;
}

