{% extends "hr_base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for("static", filename="css/notifications.css") }}">

<h2 class="title">🔔 HR System Notifications</h2>

<div class="box">

{% if data|length == 0 %}
    <p style="color:gray;">No system activity yet.</p>
{% endif %}

{% for n in data %}

<div class="card">

    <div>
        <div class="msg">{{ n.message }}</div>
        <div class="time">{{ n.created_at }}</div>
    </div>

    <div class="user">
        {{ n.user_name }}
    </div>

</div>

{% endfor %}

</div>

{% endblock %}